<!doctype html>
<head>
    <title>{% block title %}{% endblock %} | Regenwolken</title>
    <!-- <link rel=stylesheet href=/static/style.css type=text/css> -->
    <script src="/static/jquery-1.6.3.min.js"></script>
</head>

<body>
    <div class="header">
        <ul>
            <li><a href="#" name="go_files">Your Files</a></li>
            <li><a href="#" name="go_bookmarks">Bookmarks</a></li>
            <li><a href="#" name="go_settings">Account</a></li>
        </ul>
    </div>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>