<!DOCTYPE html>
<html>
<head>
  <title>Regenwolken: open source, self-hosting CloudApp</title>
</head>
<body>

<section style="margin: 0 auto; width: 800px;">
<img src="/static/images/regenwolken.png" />

<ul style="list-style-type: none;">
    <li>Users: {{ users }}</li>
    <li>Files: {{ files }}</li>
    <li>Size : {{ size | filesizeformat }}</li>
    <li>Hits : {{ hits }}</li>
</ul>
<p>– <a href="https://github.com/posativ/regenwolken#readme">See
Instructions on GitHub</a>.</p>

</section>

</body>

</html>