{% extends "base.html" %}

{% block body %}
<header id="header">

  <h2>{{ drop.name | safe }}</h2>

  <a class="embed" href="{{ drop.content_url | safe }}">Direct link</a>
</header>

<section class="monsoon" id="content">
  {% if drop.ismarkdown and config.MARKDOWN_FORMATTING %}
    {{ drop.markdown | safe }}
  {% elif drop.iscode and config.SYNTAX_HIGHLIGHTING %}
    <pre><code>{{ drop.code | safe }}</code></pre>
  {% else %}
    <pre><code>{{ drop.read() }}</code></pre>
  {% endif %}
</section>
{% endblock %}
